{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Sansita:400,400i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Collaboration IDE</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container">
      <a class="navbar-brand" id="title" href="{% url 'home' %}">Collaboration IDE</a>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout <strong>{{ user.username }}</strong></a></li>
    </ul>
  </div>
    </nav>

    <br>

    {% if error %}
    <script>
        alert(error);
    </script>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a><button type="button" class="btn-lg btn-block btn-info" data-toggle="modal" data-target="#joinProject">Join a Project</button></a>
            </div>
            <div class="col-sm-6">
                <a><button type="button" class="btn-lg btn-block btn-info" data-toggle="modal" data-target="#createProject">Create a Project</button></a>
            </div>
        </div>
    </div>

     <div class="modal fade" id="joinProject" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-name" class="modal-title">Join Project</h4>
            </div>
            <div class="modal-body">
              <form action="{% url 'joinproject' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Enter Key" name="key"><br>
                    <button type="submit" class="btn-success">Join!</button>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

            </div>
     </div>

    <div class="modal fade" id="createProject" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
                <h4 id="modal-name" class="modal-title">Create Project</h4>
            </div>
            <div class="modal-body">
              <form id="createproject" method="post" onsubmit="return Validate()" action="{% url 'createproject' %}">
                  {% csrf_token %}
                  <div class="form-group">
                    <input class="form-control" type="text" placeholder="Enter Project Title" id="createtitle" name="title"><br>
                    <input class="form-control" type="textarea" placeholder="Enter Project Description" name="description"><br>
                    <button type="submit" class="btn-success">Create</button>
                  </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

            </div>
     </div>

    <hr>
    <br>
    <div class="container">
    <h1>PROJECTS YOU CONTRIBUTE TO</h1>
    <br>
    <div class="container-fluid">

        {% if yourprojects %}

        <div class="row">

        {% for project in yourprojects %}
            <div class="col-sm-4" style="margin-bottom:15px">
            <div class="card mb-3">
               <div id="display">
                <h3 class="card-title" id="name-{{ project.id }}"> {{ project.Title }}</h3>
                   <p style="display: none;" id="description-{{ project.id }}"> {{ project.Description }}</p>
                <p> Date Created : <span class="text-muted">{{ project.Created }}</span> </p>
                <p> Date Modified : <span class="text-muted">{{ project.LastModified }}</span> </p>
                <p> Created By : <span class="text-muted">{{ project.Owner }}</span> </p>

                <button value="{{ project.id }}" type="button" class="btn btn-primary modal-button" style="text-align: center" data-toggle="modal" data-target="#myModal">Read More</button>
                <a href="{% url 'ide' project.id %}"><button type="button" class="btn btn-success" style="float: right">Open</button> </a>
               </div>
            </div>
            </div>
        {% endfor %}
        </div>
            {% else %}

            <div class="container" style="border-radius: 5px; background-color: white; padding: 20px;">
                <h4> No projects to display! </h4>
            </div>

        {% endif %}
    </div>
    </div>

    <br>

    <div class="container">
    <h1>PROJECTS YOU CREATED</h1>
    <br>
    <div class="container-fluid">

        {% if ownprojects %}

        <div class="row">

        {% for project in ownprojects %}
            <div class="col-sm-4" style="margin-bottom:15px">
            <div class="card mb-3">
               <div id="display">
                <h3 class="card-title" id="name-{{ project.id }}"> {{ project.Title }}</h3>
                   <p style="display:none;" id="description-{{ project.id }}"> {{ project.Description }}</p>
                   <div style="text-align: center;">
                   <button style="float: " class="btn-info" data-toggle="collapse" data-target="#showkey{{ project.id }}">Show Key</button>
                   <div id="showkey{{ project.id }}" class="collapse">
                        {{ project.Key }}
                   </div>
                   </div>
                   <br>
                <p> Date Created : <span class="text-muted">{{ project.Created }}</span> </p>
                <p> Date Modified : <span class="text-muted">{{ project.LastModified }}</span> </p>
                <p> Created By : <span class="text-muted">{{ project.Owner }}</span> </p>

                <button value="{{ project.id }}" type="button" class="btn btn-primary modal-button" style="text-align: center" data-toggle="modal" data-target="#myModal">Read More</button>
                   <a href="{% url 'ide' project.id %}"><button type="button" class="btn btn-success" style="float: right">Open</button> </a>
               </div>
            </div>
            </div>
        {% endfor %}
        </div>
            {% else %}

            <div class="container" style="border-radius: 5px; background-color: white; padding: 20px;">
                <h4> No projects to display! </h4>
            </div>

        {% endif %}
    </div>
    </div>

    <br>

    <div class="container">
    <h1>RECENT PROJECTS</h1>
    <br>
    <div class="container-fluid">

        {% if recent %}

        <div class="row">

        {% for project in recent %}
            <div class="col-sm-4" style="margin-bottom:15px">
            <div class="card mb-3">
               <div id="display">
                <h3 class="card-title" id="name-{{ project.id }}"> {{ project.Title }}</h3>
                <p style="display: none;" id="description-{{ project.id }}"> {{ project.Description }}</p>
                <p> Date Created : <span class="text-muted">{{ project.Created }}</span> </p>
                <p> Date Modified : <span class="text-muted">{{ project.LastModified }}</span> </p>
                <p> Created By : <span class="text-muted">{{ project.Owner }}</span> </p>

                <button value="{{ project.id }}" type="button" class="btn btn-primary modal-button" style="text-align: center" data-toggle="modal" data-target="#myModal">Read More</button>
               </div>
            </div>
            </div>
        {% endfor %}
        </div>
            {% else %}

            <div class="container" style="border-radius: 5px; background-color: white; padding: 20px;">
                <h4> No projects to display! </h4>
            </div>
        {% endif %}
    </div>
    </div>

        <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="modal-titler" class="modal-title"></h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>
                    <div class="modal-body">
                      <p id="modal-description"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                    </div>
                </div>

    <hr>

<script src="{% static 'js/custom.js' %}"></script>

</body>
</html>